:root {
  --primary: #fdf7e7;
  --secondary: #6663fd;
  --third: rgba(0, 0, 0, 0.722);
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  margin: 0;
}

.muted {
  color: #918d84;
}

.app-container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: auto;
  /* border: 1px solid rgba(242, 238, 224, 0.3); */
}
.accordion ul {
  list-style-type: none;
}
.accordion li span {
  color: var(--third);
}
.accordion li h3 {
  font-weight: 900;
  font-size: 1.3rem;
}
.accordion li {
  position: relative;
  margin: 0;
  padding-bottom: 1em;
  padding-left: 20px;
}
.accordion li:before {
  content: "";
  background-color: var(--third);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 6px;
  width: 3px;
}

.accordion li:after {
  content: "";
  border-radius: 50%;
  background-color: black;
  position: absolute;
  left: 1.3px;
  top: 0;
  height: 12px;
  width: 12px;
}
.accordion {
  display: flex;
  flex-direction: column;
  text-align: start;
  background: transparent;
  color: var(--third);
}
.accordion img {
  width: 4rem;
  height: 4rem;
  border-radius: 20px;
  border: 1px solid var(--third);
}
.accordion.active img {
  border: 1px solid var(--primary);
}
.accordion button {
  transition: 0.3s ease;
  display: inline-flex;
  text-align: start;
  padding: 1rem;
  border: 0px;
  background-color: transparent;
  color: var(--third);
  cursor: pointer;
  row-gap: 0.2rem;
  border-radius: 20px;
}
.accordion button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.accordion.active button:hover {
  background-color: rgba(0, 0, 0, 0.65);
}
.accordion.active button {
  background-color: var(--third);
  color: var(--primary);
}
.accordion.active button .muted {
  color: #a09a8f;
}
.accordion .button-list {
  height: 0;
  overflow-y: hidden;
}
.accordion.active .button-list {
  height: auto;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.1);
}

.header-button {
  display: inline-flex;
  color: var(--primary);
  background: transparent;
  border: 0px;
  column-gap: 30px;
  align-items: center;
  font-weight: 300;
  padding: 0;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.3s ease;
}
.header-button:hover {
  background-color: var(--primary);
  color: var(--third);
}
.header-button svg {
  width: 43px;
  height: 43px;
}

.explore-button {
  border: 1px solid var(--third);
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0.5rem 2rem;
  border-radius: 6px;
  background: transparent;
  transition: 0.3s ease;
  cursor: pointer;
}
.explore-button:hover {
  background-color: var(--third);
  color: var(--primary);
}

.navbar {
  z-index: 5;
  left: 0;
  max-width: 1200px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  padding: 0.5rem 1rem;
  height: 40px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary);
  background-color: var(--third);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  margin-top: 1rem;
  transition: background-color 1s ease;
}

.navbar.sticky {
  position: fixed;
  top: 0;
}

.sticky + #lolero {
  padding-top: 60px;
}

.navbar h5 {
  font-family: "Unbounded", cursive;
  font-weight: 700;
}

.navbar_nav {
  height: 0;
  width: 100%;
  max-width: 1200px;
  position: absolute;
  display: none;
  top: 77px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(253, 247, 231);
  transition: 1s ease;
}
.navbar_nav.active {
  display: flex;
  height: calc(100vh - 80px);
}

.introduction-container {
  justify-content: center;
  row-gap: 1rem;
  align-items: center;
  padding: 0rem 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.introduction-title h1 {
  font-size: 2.3rem;
  color: var(--third);
  font-weight: 700;
}
.introduction-title h3 {
  font-weight: 300;
  margin-left: 2px;
  color: #00000099;
}
.introduction-title div {
  color: #bbbbbb;
}
.introduction-title svg path {
  stroke: #bbbbbb;
}

.section-technologies {
  padding: 0.5rem 2rem;
}

.introduction-pic-container {
  margin-top: auto;
  background-color: var(--secondary);
  padding: 0.3rem;
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
}
.introduction-pic-container img {
  object-fit: cover;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  transition-duration: 600ms;
  transition-timing-function: ease;
  transition-property: transform, filter;
}

.navbar-progress-bar {
  max-width: 1200px;
  border-radius: 7px;
  height: 1.5px;
  background-color: var(--primary);
  position: absolute;
  top: 0;
  transition: ease;
  transition-property: width;
}

.navbar-progress {
  display: inline-flex;
  align-items: center;
  gap: 0.6rem;
}
.navbar-progress a {
  text-decoration: none;
  color: rgba(253, 247, 231, 0.6);
  transition: 0.3s;
  font-weight: 500;
  font-size: 1.05rem;
  border-radius: 20px;
  padding: 0.4rem 0.6rem;
}
.navbar-progress a:hover {
  color: var(--third);
  background-color: var(--primary);
}
.navbar-progress a.active {
  color: var(--primary);
}
.navbar-progress a.active:hover {
  color: var(--third);
}

.navbar h5 {
  font-size: 2rem;
}

.navbar.hidden {
  top: -60px;
}

.introduction-pic-container:hover img {
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.3));
}

@keyframes buttonHover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(23px);
  }
  100% {
    transform: translateY(0);
  }
}

.introduction-explore:hover {
  background-color: var(--third);
}
.introduction-explore:hover svg path {
  color: var(--primary);
}

.introduction-explore {
  border: 1px solid var(--third);
  color: var(--third);
  border-radius: 50%;
  background-color: transparent;
  padding: 1rem;
  width: 28px;
  height: 28px;
  animation-name: buttonHover;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transition: 0.3s ease;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
}
.introduction-explore svg {
  width: 26px;
  height: 26px;
}
.introduction-explore svg path {
  stroke-width: 35;
}

.section.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  color: var(--third);
}

.section {
  min-height: calc(100vh - 76px);
  padding: 0px 2rem;
  text-align: center;
  padding-top: 76px !important;
  scroll-snap-align: center;
}

.introduction-alert {
  position: absolute;
  top: 80px;
  right: 2%;
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--third);
  color: white;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.72);
  cursor: pointer;
}
.introduction-alert:hover {
  opacity: 0.9;
}
.introduction-alert svg {
  width: 24px;
  height: 24px;
  margin-left: 3px;
}
.introduction-alert .tail {
  position: absolute;
  top: -20px;
  right: 12px;
  width: 0;
  height: 0;
  border-color: transparent transparent var(--third) transparent;
  border-width: 10px;
  border-style: solid;
}

.about-me .cards {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.72);
  border-radius: 5px;
  align-items: center;
  row-gap: 7px;
}
.about-me .cards h4 {
  color: var(--third);
}
.about-me .cards:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.about-me .cards svg,
.about-me .cards svg path {
  stroke: var(--third);
  color: var(--third);
}



/* EXPERIENCE */
body.experience {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1000px) {
  .introduction-title h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 950px) {
  .introduction-title h1 {
    font-size: 1.5rem;
  }
  .introduction-explore {
    width: 20px;
    height: 20px;
  }
  .introduction-explore svg {
    width: 20px;
    height: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    padding: 0.25rem 1rem;
  }
  .section {
    padding: 0px 1rem;
  }
  .introduction-title h1 {
    font-size: 2.3rem;
  }
  .introduction-text-container {
    margin-top: 30px;
  }
  .navbar-progress {
    display: none;
  }
}
