:root {
  /* --primary: #fdf7e7;
  --secondary: #6663fd;
  --third: black; */
  /* --primary: #074508;
  --secondary: #d9f7dd;
  --third: #f8f6f3; */
  --primary: #052552;
  --secondary: #bc8b05;
  --third: #f8f6f3;
  --complementary: #fdf7e7;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  margin: 0;
}

.muted {
  color: #bbbbbb;
}

.app-container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: auto;
  border-top: 0px transparent !important;
  border: 1px solid rgba(248, 246, 243, 0.3);
}
.accordion ul {
  list-style-type: none;
}
.accordion li span {
  color: var(--complementary);
}
.accordion li h3 {
  color: var(--secondary);
  font-weight: 900;
  font-size: 1.3rem;
}
.accordion li {
  position: relative;
  margin: 0;
  padding-bottom: 1em;
  padding-left: 20px;
}
.accordion li:before {
  content: "";
  background-color: var(--complementary);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 6px;
  width: 3px;
}

.accordion li:after {
  content: "";
  border-radius: 50%;
  background-color: var(--third);
  position: absolute;
  left: 1.3px;
  top: 0;
  height: 12px;
  width: 12px;
}
.accordion {
  display: flex;
  flex-direction: column;
  background: transparent;
  color: var(--third);
}
.accordion img {
  width: 4rem;
  height: 4rem;
  border: 1px solid var(--third);
}
.accordion.active img {
  border: 1px solid var(--primary);
}
.accordion button {
  transition: 0.3s ease;
  display: inline-flex;
  text-align: start;
  padding: 1rem;
  border: 1px solid rgba(248, 246, 243, 0.3);
  background-color: transparent;
  color: var(--third);
  cursor: pointer;
  row-gap: 0.2rem;
}
.accordion button:hover {
  background-color: rgba(248, 246, 243, 0.1);
}
.accordion.active button {
  background-color: var(--third);
  color: #052552;
}
.accordion.active button .muted {
  color: #868686;
}
.accordion .button-list {
  border-top: 0px solid transparent !important;
  border: 1px solid rgba(248, 246, 243, 0.3);
  height: 0;
  overflow-y: hidden;
}
.accordion.active .button-list {
  height: auto;
}

.header-button {
  display: inline-flex;
  background: var(--third);
  color: var(--primary);
  border-radius: 6px;
  font-size: 0.9rem;
  column-gap: 30px;
  padding: 0.5rem 0.5rem;
  align-items: center;
  font-weight: 300;
  cursor: pointer;
  border: 1px solid var(--third);
  transition: 1s ease;
}
.header-button:hover {
  opacity: 0.9;
}
.header-button svg {
  width: 20px;
  height: 20px;
}

.explore-button {
  border: 1px solid var(--third);
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0.5rem 2rem;
  border-radius: 6px;
  background: transparent;
  transition: 0.3s ease;
  cursor: pointer;
}
.explore-button:hover {
  background-color: var(--third);
  color: var(--primary);
}

.navbar {
  z-index: 5;
  left: 0;
  max-width: 1200px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  padding: 0.5rem 2rem;
  height: 60px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(25px);
  background-color: rgba(5, 37, 82, 0.3);
  border-bottom: 1px solid rgb(248, 246, 243, 0.3);
  transition: background-color 1s ease;
}

.navbar.sticky {
  position: fixed;
  top: 0;
}

.sticky + #lolero {
  padding-top: 60px;
}

.navbar h5 {
  font-family: "Unbounded", cursive;
  font-weight: 700;
}

.navbar_nav {
  height: 0;
  width: 100%;
  max-width: 1200px;
  position: absolute;
  display: none;
  top: 77px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(253, 247, 231);
  transition: 1s ease;
}
.navbar_nav.active {
  display: flex;
  height: calc(100vh - 80px);
}

.introduction-container {
  justify-content: space-evenly;
  align-items: center;
  padding: 0rem 2rem;
  display: inline-flex;
}

.introduction-title h1 {
  font-size: 2.3rem;
  color: var(--secondary);
  font-weight: 700;
}
.introduction-title h1:hover {
  font-style: italic;
}
.introduction-title h3 {
  font-weight: 300;
  margin-left: 2px;
}
.introduction-title div {
  color: #bbbbbb;
}
.introduction-title svg path {
  stroke: #bbbbbb;
}

.section-technologies {
  padding: 0.5rem 2rem;
}

.introduction-pic-container {
  height: 500px;
  background-color: var(--third);
  border-radius: 5px;
}
.introduction-pic-container img {
  object-fit: cover;
  width: auto;
  height: 100%;
  border-radius: 5px;
  transition-duration: 600ms;
  transition-timing-function: ease;
  transition-property: transform, filter;
}

.navbar-progress-bar {
  max-width: 1200px;
  border-radius: 7px;
  height: 1.5px;
  background-color: var(--third);
  position: absolute;
  top: 0;
  transition: ease;
  transition-property: width;
}

.navbar-progress {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}
.navbar-progress a {
  text-decoration: none;
  color: var(--third);
  opacity: 0.5;
  transition: 0.3s;
  font-weight: 500;
  font-size: 1rem;
}
.navbar-progress a:hover {
  opacity: 0.8;
}
.navbar-progress a.active {
  opacity: 1;
  font-weight: bold;
  font-size: 1.2rem;
}

.navbar h5 {
  font-size: 2rem;
}

.navbar.hidden {
  top: -60px;
}

@keyframes example {
  0% {
    color: var(--secondary);
  }
  50% {
    color: var(--third);
  }
  100% {
    color: var(--secondary);
  }
}

.introduction-pic-container:hover img {
  transform: scale(1.3);
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.4));
}

@keyframes buttonHover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(23px);
  }
  100% {
    transform: translateY(0);
  }
}

.introduction-explore:hover {
  background-color: var(--third);
}
.introduction-explore:hover svg path {
  color: var(--primary);
}

.introduction-explore {
  border: 1px solid var(--third);
  color: var(--third);
  border-radius: 50%;
  background-color: transparent;
  padding: 1rem;
  width: 28px;
  height: 28px;
  animation-name: buttonHover;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transition: 0.3s ease;
  cursor: pointer;
}
.introduction-explore svg {
  width: 26px;
  height: 26px;
}
.introduction-explore svg path {
  stroke-width: 35;
}

.section.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  color: var(--primary);
}

.section {
  min-height: calc(100vh - 80px);
  padding: 0px 2rem;
  padding-top: 70px !important;
  scroll-snap-align: center;
}

.introduction-alert {
  position: absolute;
  top: 80px;
  right: 2%;
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--third);
  color: white;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.introduction-alert:hover {
  opacity: 0.9;
}
.introduction-alert svg {
  width: 24px;
  height: 24px;
  margin-left: 3px;
}
.introduction-alert .tail {
  position: absolute;
  top: -20px;
  right: 12px;
  width: 0;
  height: 0;
  border-color: transparent transparent var(--third) transparent;
  border-width: 10px;
  border-style: solid;
}

.about-me .cards {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  align-items: center;
  row-gap: 7px;
}
.about-me .cards h4 {
  color: var(--primary);
}
.about-me .cards:hover {
  background-color: rgba(253, 247, 231, 0.05);
}

.about-me .cards svg,
.about-me .cards svg path {
  stroke: var(--primary);
  color: var(--primary);
}

/* ABOUT ME */

body.about-me .navbar {
  background-color: rgba(102, 99, 252, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: var(--primary);
}
body.about-me .tail {
  border-color: transparent transparent var(--primary) transparent;
}
body.about-me .navbar_nav {
  background-color: var(--secondary);
  color: var(--primary);
}
body.about-me .introduction-alert {
  background-color: var(--primary);
  color: var(--third);
}
body.about-me .navbar-progress-bar {
  background-color: var(--primary);
}
body.about-me .navbar-progress a {
  color: var(--primary);
}
body.about-me .header-button {
  background: var(--primary);
  color: var(--secondary);
  border: 1px solid var(--primary);
}
body.about-me .app-container {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

body.about-me {
  background-color: var(--secondary);
}

/* EXPERIENCE */
body.experience {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1000px) {
  .introduction-title h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 950px) {
  .introduction-title h1 {
    font-size: 1.5rem;
  }
  .introduction-pic-container {
    height: 400px;
  }
  .introduction-explore {
    width: 20px;
    height: 20px;
  }
  .introduction-explore svg {
    width: 20px;
    height: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .introduction-container {
    flex-direction: column;
    justify-content: center;
  }
  .navbar {
    padding: 0.25rem 1rem;
  }
  .section {
    padding: 0px 1rem;
  }
  .introduction-title h1 {
    font-size: 2.3rem;
  }
  .introduction-text-container {
    margin-top: 30px;
  }
  .introduction-pic-container {
    height: 300px;
  }
  .navbar-progress {
    display: none;
  }
}
