@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Noto Serif", serif;
}

body {
  background-color: var(--primary);
  color: var(--third);
  transition: background-color 1s ease;
  overflow-x: hidden;
}

button {
  font-family: "Noto Serif", serif;
}

a {
  text-decoration: none;
  color: inherit;
}

html.scroll-snap {
  scroll-snap-type: mandatory;
}

html {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(11, 40, 0, 1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(11, 40, 0, 0.8);
}
