@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100;200;300;400;500;600;700&family=Unbounded:wght@700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Chivo Mono", monospace;
}

body {
  background-color: #fdf7e7;
  transition: background-color 1s ease;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body.introduction {
  background-color: #fdf7e7;
}
body.about-me {
  background-color: #6663fd !important;
}
body.violet {
  background-color: violet !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fdf7e7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
